<div class="user-info text-center">
    {{#if user.first_name}}
        <h2 class="mt-4">Welcome, {{user.first_name}}</h2>
    {{/if}}
</div>

<div class="product-cards container">
    <div class="row">
        {{#each object.payload}}
        <div class="col-lg-4 col-md-6 mb-4 mt-4">
            <div class="card">
                {{#if thumbnail}}
                <img src="{{thumbnail}}" class="card-img-top" alt="Product Thumbnail">
                {{else}}
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Placeholder Thumbnail">
                {{/if}}
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">Description: {{description}}</p>
                    <p class="card-text">Price: {{price}}</p>
                    <p class="card-text">Code: {{code}}</p>
                    <p class="card-text">Stock: {{stock}}</p>
                    <p class="card-text">Category: {{category}}</p>
                    <button type="button" class="btn btn-primary" id="details"
                        onclick="navigateToDetails('{{_id}}')">See more</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="text-center mb-4">
        <button type="button" class="btn btn-primary" id="prevPage" onclick="navigateToPage('{{object.prevLink}}')">Previous
            Page</button>
        <button type="button" class="btn btn-primary" id="nextPage" onclick="navigateToPage('{{object.nextLink}}')">Next
            Page</button>
    </div>
</div>

<script>
    function navigateToDetails(productId) {
        window.location.href = `http://localhost:8080/products/${productId}`;
    }
    function navigateToPage(page) {
        if (page) {
            window.location.href = `http://localhost:8080${page}`;
        }
    }
</script>