<!-- Estilos personalizados para la sección de usuario -->
<style>
    .user-card {
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 100px;
        text-align: center;
    }


    .user-info h2 {
        margin-top: 1rem;
        color: #007bff;
    }

    .btn-profile {
        margin-top: 1rem;
        background-color: #343a40 !important;
        color: #ffffff !important;
        border: 1px solid #343a40 !important;
    }

    .btn-profile:hover {
        background-color: #1d2124 !important;
        border: 1px solid #1d2124 !important;
    }
</style>

<div class="user-card container">
    <div>
        <div class="row">
            <div class="col-md-6">
                {{#if user.first_name}}
                    <h3 class="mt-4 p-2">Welcome {{user.first_name}}</h3>
                {{/if}}
            </div>
            <div class="col-md-6 p-3">
                {{#if user.first_name}}
                    <button href="http://localhost:8080/profile" class="btn btn-primary btn btn-profile">Profile</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<!-- Estilos personalizados para la sección de productos -->
<style>
    .product-cards {
        margin-top: 2rem;
    }

    .card {
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f8f9fa; /* Fondo de la tarjeta */
        margin-bottom: 1rem;
    }

    .card-img-top {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .card-title {
        color: #007bff; /* Color del título de la tarjeta */
    }

    .card-text {
        margin-bottom: 0.5rem;
    }

    .btn-see-more {
        background-color: #343a40 !important;
        color: #ffffff !important;
        border: 1px solid #343a40 !important;
    }

    .btn-see-more:hover {
        background-color: #1d2124 !important;
        border: 1px solid #1d2124 !important;
    }

    .pagination-buttons {
        margin-top: 2rem;
    }

    .btn-pagination {
        margin-right: 1rem;
        background-color: #343a40 !important;
        color: #ffffff !important;
        border: 1px solid #343a40 !important;
    }

    .btn-pagination:hover {
        background-color: #1d2124 !important;
        border: 1px solid #1d2124 !important;
    }
</style>

<div class="product-cards container">
    <div class="row">
        {{#each object.payload}}
        <div class="col-lg-4 col-md-6 mb-4 mt-4">
            <div class="card">
                {{#if thumbnail}}
                <img src="{{thumbnail}}" class="card-img-top" alt="Product Thumbnail">
                {{else}}
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Placeholder Thumbnail">
                {{/if}}
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">Description: {{description}}</p>
                    <p class="card-text">Price: {{price}}</p>
                    <p class="card-text">Code: {{code}}</p>
                    <p class="card-text">Stock: {{stock}}</p>
                    <p class="card-text">Category: {{category}}</p>
                    <button type="button" class="btn btn-primary btn-see-more" id="details"
                        onclick="navigateToDetails('{{_id}}')">See more</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="text-center pagination-buttons">
        <button type="button" class="btn btn-primary btn-pagination" id="prevPage" onclick="navigateToPage('{{object.prevLink}}')">Previous
            Page</button>
        <button type="button" class="btn btn-primary btn-pagination" id="nextPage" onclick="navigateToPage('{{object.nextLink}}')">Next
            Page</button>
    </div>
</div>

<script>
    function navigateToDetails(productId) {
        window.location.href = `http://localhost:8080/products/${productId}`;
    }
    function navigateToPage(page) {
        if (page) {
            window.location.href = `http://localhost:8080${page}`;
        }
    }
</script>
