{{#each cart.products}}
<div class="card">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{this.productId.thumbnail}}" class="card-img" alt="{{this.productId.title}}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{this.productId.title}}</h5>
                <p class="card-text">
                    <strong>ID:</strong> {{this.productId._id}}<br>
                    <strong>Description:</strong> {{this.productId.description}}<br>
                    <strong>Price:</strong> ${{this.productId.price}}<br>
                    <strong>Code:</strong> {{this.productId.code}}<br>
                    <strong>Quantity in cart:</strong> {{this.quantity}}<br>
                    <strong>Category:</strong> {{this.productId.category}}
                </p>
            </div>
        </div>
    </div>
</div>
{{/each}}