<style>
    .profile {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f8f9fa;
    }

    .profile h2 {
        color: #007bff;
    }

    .profile-details p {
        margin-bottom: 10px;
    }

    .btn-custom {
        background-color: #343a40;
        color: #ffffff;
        border: 1px solid #343a40;

    }

    .btn-custom:hover {
        background-color: #5e6266;

        border: 1px solid #1d2124;
    }

        input[type="file"] {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        background-color: #f8f9fa;
    }

    input[type="submit"] {
        background-color: #343a40;
        color: #ffffff;
        border: 1px solid #343a40;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #5e6266;
        border: 1px solid #1d2124;
    }
</style>

<div class="profile">
    <h2>Profile</h2>
    <div class="profile-details">
        <p><strong>Welcome:</strong> {{user.first_name}}</p>
        <p><strong>Rol:</strong> {{user.role}}</p>
        <p><strong>Email:</strong> {{user.email}}</p>
    </div>
    <div>
        <button class="btn btn-custom mb-2" onclick="window.location.href = '/change'">Change password</button>
    </div>
    <div>
        <button class="btn btn-custom mb-2" onclick="window.location.href = 'api/users/premium/{{user._id}}'">Switch
            user/premium</button>
    </div>
    <div>
        <button class="btn btn-custom mb-2" onclick="window.location.href = '/users'">Manage Users</button>
    </div>
    <div>
        <button class="btn btn-custom" onclick="window.location.href = 'api/sessions/signout'">Sign out</button>

        <form action="/api/users/{{user._id}}/documents" method="post" enctype="multipart/form-data">
            Cambiar Avatar: <input type="file" name="avatar" id="avatar">
            Cargar DNI: <input type="file" name="dni" id="dni">
            Dirección: <input type="file" name="address" id="address">
            Bank <input type="file" name="bank" id="bank">
            <input type="submit" value="Enviar">
        </form>
    </div>
</div>




<script>
    const token = token;
    if (token) {
        window.location.href = "/profile"
    }
</script>
